<settings>
	<servers>
		<server>
			<id>maven.oracle.com</id>
			<username>srto.dih@gmail.com</username>
			<password>{wWy/KD0yLE8HJqNt+kf3A7VAC+vS7Re6ne0Q+QvbFnyX3mNZhTqFTSUUbTGQDmkf}</password>
			<configuration>
				<basicAuthScope>
					<host>ANY</host>
					<port>ANY</port>
					<realm>OAM 11g</realm>
				</basicAuthScope>
				<httpConfiguration>
					<all>
						<params>
							<property>
								<name>http.protocol.allow-circular-redirects</name>
								<value>%b,true</value>
							</property>
						</params>
					</all>
				</httpConfiguration>
			</configuration>
		</server>
	</servers>
</settings>